html,body{height: 100%;overflow: hidden;}
.loading_cover{width: 100%;height: 100%;background-color: #fff;position: relative;}
.loading_cover>div{position: absolute;left: 50%;top: 50%;margin-top: -16px;margin-left: -16px;}

.loading_cover p{text-align: center;font-style: 14px;color: #000;margin-left: -10px;}

.bg_img{background: url('../images/mus_bg.jpeg') no-repeat center center;background-size: auto 100%;opacity: 1;transition:opacity 1s ease-in-out 0s; }
.hide_c{opacity: 0;}
.container{padding: 0 15px;height: 100%;width: 100%;box-sizing:border-box;}

.alignMiddle{display: table;}
.alignMiddle>div{display: table-cell;vertical-align: middle;width: 100%;}
.img_box{width: 200px;height: 200px;border: 0px solid rgba(252, 252, 252, 0.2);padding:10px;border-radius: 50%;margin: 0 auto;
position: relative;background-color: rgba(252, 252, 252, 0.2);
}

.mus_controll_sch{width: 100%;height: 100%;padding-top: 50%;position: relative;}
.center_play{width: 60px;height: 60px;position: relative;border-radius: 50%;z-index: 5;margin:0 auto;margin-top: -30px;
border: 10px solid red;
border-color: #89604A #606B1A #785935 #6A7A1E;
-webkit-border-color: #89604A #606B1A #785935 #6A7A1E;
-moz-border-color: #89604A #606B1A #785935 #6A7A1E;
box-sizing:border-box;
}
.schedule_line{position: absolute;z-index: 6;left: 50%;top: -10px;width: 10px;height: 110px;
/*background-color: rgba(48, 69, 98, 0.51);*/transform-origin:0 100%;transform:rotate(30deg);
}
.schedule_line>div{width: 10px;height: 10px;background-color: red;position: relative;z-index: 998;}
pen{width: 40px;height: 40px;border: 1px solid red;position: relative;z-index: 999;top:-10px;left: -10px;}

.img_box canvas{position: absolute;top: 10px;left: 10px;border-radius: 50%;overflow: hidden;opacity: 0.75;}
.img_box canvas#mus_schedule{top: 0px;left: 0px;border-radius: 0;opacity: 1;}

.mus_icon{width: 100%;height: 100%;border-radius: 50%;z-index: 3;}
.mus_controll{width: 100%;height: 80px;border: 0px solid red;padding-top: 20px;}



