body{background: url('../images/img_one.jpg') no-repeat -2px -2px;width: 100%;}
.mus_icon{width: 30px;height: 30px;position: fixed;right: 17px;top: 17px;border-radius: 50%;z-index: 999;}
.mus_icon_bg{width: 45px;height: 45px;position: fixed;right: 10px;top: 10px;border-radius: 50%;}
.play_animation{animation:mus_icon 5s linear 0s infinite normal;webkit-animation:mus_icon 5s linear 0s infinite normal;moz-animation:mus_icon 5s linear 0s infinite normal;-ms-animation:mus_icon 5s linear 0s infinite normal;}
.main{width: 100%;height:1536px;position: relative;}
@keyframes mus_icon{
	0%{
		transform:rotate(0deg);
	}
	50%{
		transform:rotate(180deg);
	}
	100%{
		transform:rotate(360deg);
	}
}