body{width: 100%;overflow: hidden;height: 559px;}
.mus_icon{width: 30px;height: 30px;position: fixed;right: 17px;top: 17px;border-radius: 50%;z-index: 999;}
.mus_icon_bg{width: 45px;height: 45px;position: fixed;right: 10px;top: 10px;border-radius: 50%;z-index: 998;}
.play_animation{animation:mus_icon 5s linear 0s infinite normal;webkit-animation:mus_icon 5s linear 0s infinite normal;moz-animation:mus_icon 5s linear 0s infinite normal;-ms-animation:mus_icon 5s linear 0s infinite normal;}
.main{width: 100%;position: relative;overflow: hidden;}
@keyframes mus_icon{
	0%{
		transform:rotate(0deg);
	}
	50%{
		transform:rotate(180deg);
	}
	100%{
		transform:rotate(360deg);
	}
}
.bg_img_box{height:100%;height: 100%;;overflow: hidden;position: absolute;top: 0px;left: 0px;width: 100%;}
.bg_img_box img{position: absolute;left: 0;top: 0;height: 1024px;margin-left: -2px;margin-top: -2px;transform:translateX(-20px);transition:all 5s ease-in-out 0s;-webkit-transition:all 5s ease-in-out 0s;-moz-transition:all 5s ease-in-out 0s;-o-transition:all 5s ease-in-out 0s;-ms-transition:all 5s ease-in-out 0s;}
.container{width: 100%;height: 480px;box-sizing:border-box;overflow: hidden;}
.animate_z5{transition:height 5s ease-in-out 0s;-webkit-transition:height 5s ease-in-out 0s;-moz-transition:height 5s ease-in-out 0s;-o-transition:height 5s ease-in-out 0s;-ms-transition:height 5s ease-in-out 0s;overflow: hidden;}


