body{overflow: hidden;width: 100%;height: 100%;}
.mus_icon{width: 30px;height: 30px;position: fixed;right: 17px;top: 17px;border-radius: 50%;z-index: 999;}
.mus_icon_bg{width: 45px;height: 45px;position: fixed;right: 10px;top: 10px;border-radius: 50%;z-index: 998;}
.play_animation{animation:mus_icon 5s linear 0s infinite normal;webkit-animation:mus_icon 5s linear 0s infinite normal;moz-animation:mus_icon 5s linear 0s infinite normal;-ms-animation:mus_icon 5s linear 0s infinite normal;}
.main{width: 100%;height:100%;position: relative;overflow: hidden;}
@keyframes mus_icon{
	0%{
		transform:rotate(0deg);
	}
	50%{
		transform:rotate(180deg);
	}
	100%{
		transform:rotate(360deg);
	}
}
.bg_img_box{height:100%;overflow: hidden;position: absolute;top: 0px;left: 0px;width: 100%;}
.bg_img_box img{position: absolute;left: 0;right: 0;height: 1024px;margin-left: -2px;margin-top: -2px;transform:translateX(-20px);transition:all 0s ease-in-out 0s;}
.container{width: 100%;height: 480px;border: 1px solid red;box-sizing:border-box;}


