<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>zonybir</title>
	<script type="text/javascript" src='/js/query.js'></script>
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">

	<script type="text/javascript" src='/js/mus.js'></script>
</head>
<body class="bg_img">
	<div class="container alignMiddle">
		<div>
			<div class="img_box">
				<div class="mus_controll_sch">
					<div class="center_play"></div>
					<div class="schedule_line">
						<div></div>
					</div>
				</div>
				<canvas id='mus_img' width=200 height=200></canvas>
				<canvas id='mus_schedule' width=220 height=220></canvas>
				<!-- <img src="../public/images/mus_icon_bg.jpg" class="mus_icon"> -->
			</div>
			<div class="mus_controll"></div>
		</div>
	</div>
	<audio src='/music/leave there.mp3' autoplay=autoplay id='player'></audio>
</body>
</html>