<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>zonybir</title>
	<script type="text/javascript" src='../public/js/query.js'></script>
	<link rel="stylesheet" type="text/css" href="../public/css/base.css">
	<link rel="stylesheet" type="text/css" href="../public/css/wap.css">

	<script type="text/javascript" src='../public/js/main.js'></script>
</head>
<body>
<img src="../public/images/mus_i_bg.png" class="mus_icon_bg">
<img src="../public/images/mus_icon.png" class="mus_icon 2play_animation play">
<audio src='../public/music/leave there.mp3' autoplay='autoplay' id="player" loop='loop'></audio>
<div class="bg_img_box">
	<img src="../public/images/img_one.jpg">
	<div class="bg_one">
		<canvas id='bg_cav'></canvas>
		<canvas id='bg_cav_tw'></canvas>
		<canvas id='bg_cav_th'></canvas>
	</div>
</div>
<div class="main">
	<div class="container">
		<p>我们都还在这里</p>
		<p>可是，为什么还在这里</p>
		<p>逃离这个星球</p>
		<p>远走他乡</p>
		<p>却又，不怎么欢喜着</p>
	</div>
	<div class="container">
		<p>那年你踏上暮色他乡</p>
		<p>人静的雨夜</p>
		<p>想起离别时它</p>
		<p>神马乱七八糟</p>
		<p>不懂不解不知</p>
		<p>哈哈哈哈哈哈</p>
	</div>
	<div class="container">
		<p>32</p>
		<p>33</p>
		<p>34</p>
		<p>35</p>
		<p>36</p>
		<p>37</p>
		<p>38</p>
	</div>
</div>
</body>
</html>