<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>zonybir</title>
	<script type="text/javascript" src='../public/js/query.js'></script>
	<link rel="stylesheet" type="text/css" href="../public/css/base.css">
	<link rel="stylesheet" type="text/css" href="../public/css/wap.css">

	<script type="text/javascript" src='../public/js/main.js'></script>
</head>
<body>
<img src="../public/images/mus_i_bg.png" class="mus_icon_bg">
<img src="../public/images/mus_icon.png" class="mus_icon 2play_animation play">
<audio src='../public/music/leave there.mp3' autoplay='autoplay' id="player" loop='loop'></audio>
<div class="bg_img_box">
	<img src="../public/images/img_one.jpg">
	<div class="bg_one">
		<canvas id='bg_cav' class="bg_star"></canvas>
		<canvas id='bg_cav_tw' class="bg_star"></canvas>
		<canvas id='bg_cav_th' class="bg_star"></canvas>
	</div>
</div>
<div class="main">
	<div class="container animate_z5">
		<div class="con_one">
			<p style="top:-500px;">长城长</p>
			<p style="top:700px;">长城真长</p>
			<p style="left:700px;">长城仍那么长</p>
			<p style="left:-500px">长城一直那么长</p>
		</div>
	</div>
	<div class="container animate_z5" style="height:0;">
		<div class="con_two clearfix">
			<p>那年你踏上暮色他乡</p>
			<p>人静的雨夜</p>
			<p>想起离别时它</p>
			<p>神马乱七八糟</p>
			<p>不懂不解不知</p>
			<p>哈哈哈哈哈哈</p>
		</div>
	</div>
	<div class="container animate_z5 dis_table" style="height:0;">
		<div class="con_three">
			<div id="rect_touch">
				<div class="strap">
					<div>1</div>
					<div>2</div>
					<div>3</div>
					<div>4</div>
					<div>5</div>
					<div>6</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>