<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>zonybir for you who lving.</title>
	<script type="text/javascript" src='../public/js/query.js'></script>
	<link rel="stylesheet" type="text/css" href="../public/css/base.css">
	<link rel="stylesheet" type="text/css" href="../public/css/wap.css">
</head>
<body>
<img src="../public/images/mus_i_bg.png" class="mus_icon_bg">
<img src="../public/images/mus_icon.png" class="mus_icon 2play_animation play">
<audio src='../public/music/leave there.mp3' autoplay='autoplay' id="player" loop='loop'></audio>
<div class="bg_img_box"><img src="../public/images/img_one.jpg"></div>
<div class="main"></div>
</body>
<script type="text/javascript">
	window.onload=function(){
		function hasClass(ele,cls) {
			return ele.className.match(new RegExp('(\\s|^)'+cls+'(\\s|$)'));
		}

		function addClass(ele,cls) {
			if (!hasClass(ele,cls)) ele.className=ele.className.replace(/\s+/g,' ') +' '+cls;
		}

		function removeClass(ele,cls) {
			if (hasClass(ele,cls)) {
				var reg = new RegExp('(\\s|^)'+cls+'(\\s|$)');
				ele.className=ele.className.replace(reg,' ').replace(/\s+/,' ');
			}
		}
		
		var transform='';
		(function(){
			var ele=$('img')[0].style,u='undefined';
			if (typeof ele.transform !== u) transform='transform';
			else if(typeof ele.webkitTransform !== u) transform='webkitTransform';
			else if(typeof ele.mozTransform !== u) transform='mozTransform';
		}());
		var play_ani={
			play_icon:'',
			oldDeg:0,
			statu:'',
			start:function(){
				var _t=this,deg=_t.oldDeg;
				function animate(){
					_t.oldDeg=deg=(deg+1)>= 360 ? 0 : (deg+1) ;
					_t.play_icon.style[transform]='rotate('+deg+'deg)';
					_t.status=setTimeout(animate,20);
				}
				animate();
			},
			init:function(){
				this.play_icon=$('.mus_icon')[0];
				this.start();
			}
		} 
		play_ani.init();
		var player=document.getElementById('player');
		var controller=document.querySelectorAll('.play');
		var play_animate_class='play_animation';
		controller[0].addEventListener('click',function(){
			if(player.paused){
				player.play();
				play_ani.start();
			}else{
				player.pause();
				clearTimeout(play_ani.status);
			}
		},false);
		setTimeout(function(){player.play();},1000);
		var scroll_bg={
			bgimg:'',
			win:'',
			scale:'',
			ele:'',
			init:function(){
				this.bgimg={x:1280,y:1024};
				this.win.y=document.body.clientHeight || document.documentElement.clientHeight;
				this.win.x=document.body.clientWidth || document.documentElement.clientWidth;
				this.scale.y=(this.bgimg.y-this.win.y)/2;
				this.scale.x=(this.bgimg.x-this.win.x)/2;
				this.ele=$('.bg_img_box img')[0];
				//console.log(this.body.style);
				this.event();
			},
			event:function(){
				var _t=this;
				window.onscroll=function(){
					var scrollTop=document.body.scrollTop;
					//console.log(scrollTop);
					_t.ele.style[transform]='translate(-'+scrollTop/15+ 'px,'+scrollTop/1.8+'px)';					
				}
			}
		}
		scroll_bg.init();
	}
</script>
</html>